$primary:               #5DC2AF;
$primary-alternate:     #BDDAD5;
$app-light:             #A8A8A8;

$primary-on-light:      #5E5E5E;
$primary-on-dark:       #fff;

$primary-background:    #E5E5E5;
$background-darker:     #A8A8A8;

$grayed-out:            #AEAEAE;

$border-color:          rgba(0, 0, 0, 0.17);
$primary-shadow-color:  rgba(0, 0, 0, 0.2);

$error-color:           red;

$default-radius:        0.75rem;

$default-border-width:  0.0625rem;
